@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #064e3b; /* Emerald 900 */
  --brand-orange: #f97316; /* Orange 500 */
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}